name: "Dependabot High & Critical Alerts Summary"

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]

permissions:
  contents: read
  security-events: read
  pull-requests: write

jobs:
  dependabot-alert-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x .github/scripts/fetch-dependabot-alerts.sh

      - name: Fetch Dependabot alerts
        id: get_alerts
        env:
          PAT_TOKEN: ${{ secrets.DEPENDABOT }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: .github/scripts/fetch-dependabot-alerts.sh